*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
width: 1140px;
margin: 0 auto;
}

.header_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 38px;
    
}

.header_nav_list{
    display: flex;
    margin-top: 79px;
    flex-direction: row;
    gap: 30px;
}
.header_img{
    width: 1110px;
height: 450px;
}
.header_nav_link{
    color: #8C8A8A;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_nav_link:hover{
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: .3s;
}
.main_container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.left_box{
    padding: 50px 95px 51px 40px;
    width: 730px;
    background: #F0F0F0;
}
.right_box{
    width: 350px;
    background: #F0F0F0;
    padding: 50px 24px 0 40px;
}
.title{
    color: #4581B7;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}
.text{
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.email{
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    display: block;
    margin-top: 45px;
}
.number{
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    display: block;
    margin-top: 25px;
}
.footer_box{
    background: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.footer_text{
    color: #808080;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
}
.footer_tel{
    color: #808080;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}